<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/stylesheet.css">
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <script src="js/jQuery-3.4.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/5e87eb8112.js"></script>
        <script src="js/main.js"></script>
        <title>تسجيل حساب جديد</title>
    </head>
    <body>
        <main>
            <form class="form-signin" style="padding-top: 85px;">
                <div class="text-center mb-4">
                  <img class="mb-4" src="images/safcsp-logo-info.svg" alt="" width="92" height="92">
                  <h1 class="h3 mb-3 font-weight-normal">تسجيل جديد</h1>
                  <p>يرجى تعئبة كامل البيانات والتأكد من صحتها لتسجيل حساب جديد على المنصة.</p>
                </div>
            </form>
            <div style="padding-top: 35px;">
                <form>
                    <div class="container">
                        <div class="form-row">
                            <div class="col-lg-4 mb-3">
                                <label for="validationDefault01">السجل المدني</label>
                                <input type="text" class="form-control" id="validationDefault01" required>
                            </div>
                            <div class="col-lg-8 mb-3">
                                <label for="validationDefault02">رقم الجوال</label>
                                <input type="text" class="form-control" id="validationDefault02" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <label for="validationDefault03">البريد الالكتروني</label>
                                <input type="email" class="form-control" id="validationDefault03" required>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label for="validationDefault4">تأكيد البريد الالكتروني</label>
                                <input type="email" class="form-control" id="validationDefault4" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 mb-3">
                                <label for="validationDefault05">كلمة المرور</label>
                                <input type="password" class="form-control" id="validationDefault05" required>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <label for="validationDefault06">تأكيد كلمة المرور</label>
                                <input type="password" class="form-control" id="validationDefault06" required>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-outline-success btn-block" type="submit" style="margin-top: 35px;">إنشاء حساب جديد</button>
                    </div>
                </form>
            </div>
            
            <p class="mt-5 mb-3 text-muted text-center">لديك حساب سابق؟ <a href="/">تسجيل دخول</a></p>
        </main>
    </body>
</html>